<!-- Navigation Bar -->
<nav class="navigationBar">
    <div class="leftNav">
        <!-- Home Link on Icon -->
       <a href="/"><img class="logo" src="/images/logo.png" style="height: 50px;width: 50px;background-color: black;"></a>
    </div>
    <div class="rightNav">
        <!-- Home Link Button -->
        <a class="links"href="/">Home</a>
    </div>
</nav>
