.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 90vh;
    margin: 0
}

.container .mainHeading {
    display: flex;
    align-items: center;
    position:relative;
}

.container .mainHeading .addProject {
    color: #0a1019;
    background-color: #a45ca4;
    font-size: 1rem;
    padding: .4rem 1rem;
    border-radius: .2rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 2rem;
}

.container .heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0;

}

.container .projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

.container .projectContainer::-webkit-scrollbar {
    width: 10px;
}

.container .projectContainer::-webkit-scrollbar-thumb {
    background-color: #a45ca4;
}

.container .projectContainer .box {
    width: 80%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.box .projectName {
    font-size: 1.3rem;
    font-weight: 400;
    color:darkmagenta;
    font-weight:bold;
    margin-top: 5px;
}

.box .projectDesc {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}

.box .boxFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .boxFooter .name{
    color:rgb(74, 38, 142);
    font-size:1rem;
    font-weight:bold;
}

.box .boxLink {
    color: black;
    font-size:40px;
}

.box .boxLink:hover {
    color: #a45ca4;
}

.box .projectAuthor {
    font-size: 1rem;
    font-weight: 600;
    color:rgb(161, 37, 120) ;
    display: inline-block;
}

.detailIssueLinks {
    position: relative;
    display:flex;
}

.tooltip {

    position: absolute;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    display: none;
    font-weight:bold;
}

.tooltipProjectDetails {
    width: 130px;
    right: 60px;
    top: -50px;
    color: white;
    background: #5c103a;
}

.tooltipCreateIssue {
    width: 120px;
    right: -10px;
    top: -50px;
    color: white;
    background: #5c103a;
}

.projectDetails:hover+.tooltip {
    display: block;
}


.createIssue:hover+.tooltip {
    display: block;
}
.addProject:hover + .tooltip{
    display:block;
}
.addProjectTooltip{
    top:-10px;
    right:-50px;
    background: #5c103a;
    color:white;
}

.boxFooter .issueCount{
    font-size:1rem;
    font-weight: 600;
    color: #d6005a;
    border-radius:1rem;
    padding:.5rem 1rem;
    margin-right:4rem;
}
.boxFooter .issueCount .count{
    font-size:1.2rem;
    font-weight: bold;
    color:blueviolet;
}

@media screen and (max-width:1270px) {
    
    .container .projectContainer .box {
        width: 90%;
    }

}

@media screen and (max-width:1130px) {
    

.box .projectName {
    font-size: 1rem;
}

.box .projectDesc {
    font-size: 1rem;
    margin: .7rem 0;
}
.box .boxFooter .name{
    font-size:1rem;
}
}
@media screen and (max-width:990px) {
    
    .container .projectContainer .box {
        height: auto;
        margin-bottom: 1rem;
    }
.box .projectName {
    font-size: 1.4rem;
}

.box .projectDesc {
    font-size: 0.5rem;
    margin: .6rem 0;
}
.box .boxFooter .name{
    font-size:0.5rem;
}
}
